{% extends 'base.html' %}
{% block title %} Listado de usuarios {% endblock title %}

{% block content %}

{% if object %}

<table class="table table-striped">
  <thead class="bg-dark">
    <tr>
      <th class="text-light">ID</th>
      <th class="text-light">Username</th>
      <th class="text-light">Nombres</th>
      <th class="text-light">Apellidos</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in object_list %}
      <tr>
        <td class="text-dark">{{ usuario.id }}</td>
        <td class="text-dark">{{ usuario.username }}</td>
        <td class="text-dark">{{ usuario.first_name }}</td>
        <td class="text-dark">{{ usuario.last_name }}</td>
        <td>
          <a class="btn btn-secondary" href="">Eliminacion logica</a>
        </td>
        <td>
          <a class="btn btn-secondary" href="">Eliminacion logica</a>
        </td>
        <td>
          <a class="btn btn-secondary" href="">Eliminacion total</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}

<h1>No existen usuarios registrados</h1>

{% endif %}
{% endblock content %}
