{% extends 'base.html' %}
{% block title %} Listado de Usuarios {% endblock title %}

{% block content %}

{% if users %}

<table class="table table-striped">
  <thead class="bg-dark">
    <tr>
      <th class="text-light">Username</th>
      <th class="text-light">Nombre</th>
      <th class="text-light">Correo electronico</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in users %}
      <tr>
        <td class="text-primary"><a onclick="abrir_modal('{% url 'accounts:user_detailm' usuario.id %}')">{{ usuario.username }}</a></td>
        <td class="text-dark">{{ usuario.first_name }} {{ usuario.last_name }}</td>
        <td class="text-dark">{{ usuario.email }}</td>
        <td>
          <button class="btn btn-secondary" onclick="abrir_modal('{% url 'accounts:user_update' usuario.id %}')">Modificar</button>
        </td>
        <td>
          <button class="btn btn-secondary" onclick="abrir_modal('{% url 'accounts:userban' usuario.id %}')">Banear</button>
        </td>
        <td>
          <button class="btn btn-secondary" onclick="abrir_modal('{% url 'accounts:user_delete' usuario.id %}')">Eliminar</button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}

<h1 class="text-center">No existen usuarios registrados</h1>

{% endif %}
<!-- Modales-->
<div class="modal fade" id="abrirmodal" role="dialog"></div>
{% endblock content %}

{% block js_scripts %}
<script type="text/javascript">
  var $ = jQuery.noConflict();
  function abrir_modal(url){
    $('#abrirmodal').load(url, function(){
      $(this).modal('show');
    });
  }
</script>
{% endblock js_scripts %}
