{% extends "base.html" %}
{% load static %}
{% block title %} Reset password {% endblock title %}
{% block sidebar %}{% endblock sidebar %}
{% block navbar %}{% endblock navbar %}
{% block content %}
<div class="row my-5">
  <div class="col-6 offset-3">
    <div class="card bg-dark" style="padding: 10px;">
      <h1 class="text-light text-center">Te hemos enviado un correo para restablecer tu contraseña</h1>
      <p class="text-light text-center">Puedes cerrar esta ventana.</p>
    </div>
  </div>
</div>
{% endblock content %}
