{% extends "base.html" %}
{% load static %}
{% block title %} Reset password {% endblock title %}
{% block sidebar %}{% endblock sidebar %}
{% block navbar %}{% endblock navbar %}
{% block content %}

<div class="row my-5 justify-content-center">
  <div class="col-3">
    <div class="card bg-dark" style="padding: 10px;">
      {% if validlink %}
      <h1 class="text-light">Nueva contraseña</h1>
      <form class="user " method="post">
        {% csrf_token %}

        {{ form.new_password1.errors }}
        <label for="id_new_password1" >Nueva contraseña:</label>
        <br>
        {{  form.new_password1 }}
        <br>
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirme la contraseña:</label>
        <br>
        {{  form.new_password2 }}
        <hr>
        <input type="submit" value="Cambiar mi contraseña">
      </form>
      {% else %}

      <h1 class="text-center text-light">Enlace invalido: Este enlace ya ha sido utilizado</h1>
      <p class="text-center"><a href="{% url 'index' %}">Iniciar sesion</a></p>

      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
