{% extends 'base.html' %}
{% block title %} Eliminacion de Autor {% endblock title %}
{% block content %}
<div class="alert alert-dismissible alert-danger">
  <h4 class="alert-heading">¿Desea eliminar el registro {{autor.nombre}}?</h4>
  <p class="mb-0">Esta accion puede eliminar datos en cascada como libros u articulos relacionados con el autor.</p>
</div>

<form method="POST">
  {% csrf_token %}
   <button type="submit" class="btn btn-danger">Eliminar</button>
   <a href="{% url 'libro:listar_autor' %}">Cancelar</a>
</form>

{% endblock content %}
