{% extends 'base.html' %}
{% block title %} Listado de  libros {% endblock title %}

{% block content %}

{% if libros %}

<table class="table table-striped">
  <thead class="bg-dark">
    <tr>
      <th class="text-light">Titulo</th>
      <th class="text-light">Autores</th>
      <th class="text-light">Fecha de publicacion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for libro in libros %}
      <tr>
        <td class="text-dark">{{ libro.titulo }}</td>
        <td class="text-dark">
          {% for autor in libro.autor_id.all %}
            <li>{{ autor.nombre }}</li>
          {% endfor %}
        </td>
        <td class="text-dark">{{ libro.fecha_publicacion }}</td>
        <td>
          <button class="btn btn-secondary" onclick="abrir_modal('{% url 'libro:actualizar_Libro' libro.id %}')">Editar</button>
        </td>
        <td>
          <!-- <a class="btn btn-secondary" href="" data-toggle="modal" data-target="#elimLogModal">Eliminacion logica</a> -->
          <button class="btn btn-secondary" onclick="abrir_modal('{% url 'libro:eliminar_libro' libro.id %}')">Eliminacion logica</button>
        </td>
        <td>
          <!-- <a class="btn btn-secondary" href="" data-toggle="modal" data-target="#elimModal">Eliminacion total</a> -->
          <button class="btn btn-secondary" onclick="abrir_modal('{% url 'libro:delete_libro' libro.id %}')">Eliminacion total</button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}

<h1 class="text-center">No existen libros registrados</h1>

{% endif %}
<!-- Modales-->
<div class="modal fade" id="abrirmodal" role="dialog"></div>
{% endblock content %}

{% block js_scripts %}
<script type="text/javascript">
  var $ = jQuery.noConflict();
  function abrir_modal_edicion(url){
    $('#abrirmodal').load(url, function(){
      $(this).modal('show');
    });
  }
</script>
{% endblock js_scripts %}
