{% extends 'base.html' %}
{% block title %} Listado de  libros {% endblock title %}

{% block content %}

{% if libros %}
<div class="container">
  <div class="row" >
  {% for libro in libros %}
    <div class="col-3 ml-auto">
      <!-- <hr/> -->
        <div class="card">
          <div class="container" style=" padding: 0;">
            {% if libro.imagen %}
            <img src="{{ libro.imagen.url }}" class="card-img-top" alt="...">
            {% endif %}
          </div>
          <div class="card-body">
            <a href="{% url 'libro:detalle_libro' libro.id %}">
            <h5 class="text-primary">{{ libro.titulo }}</h5>
            </a>
            <p class="card-tex"style="color: #4f4866;">{{ libro.descripcion|truncatechars:40 }}</p>
            <hr/>
            <p class="cardd-text">Autores:</p>
              {% for autor in libro.autor_id.all %}
                <p>{{ autor.nombre }}</p>
              {% endfor %}

          </div>
        </div>
    </div>
  {% endfor %}
  </div>
</div>
{% else %}
<h1 class="text-center">No existen libros registrados</h1>
{% endif %}
{% endblock content %}
