{% extends 'base.html' %}
{% block title %} Listado de  Autores {% endblock title %}

{% block content %}

{% if autores %}

<table class="table table-striped">
  <thead class="bg-dark">
    <tr>
      <th class="text-light">Nombres</th>
      <th class="text-light">Apellidos</th>
      <th class="text-light">Nacionalidad</th>
      <th class="text-light">Estado</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for autor in autores %}
      <tr>
        <td class="text-dark">{{ autor.nombre }}</td>
        <td class="text-dark">{{ autor.apellidos }}</td>
        <td class="text-dark">{{ autor.nacionalidad }}</td>
        <td class="text-dark">{{ autor.estado}}</td>
        <td>
          <!-- <a href="{% url 'libro:actualizar_autor' autor.id %}"><button type="button" name="buttton" class="btn btn-secondary">Editar</button></a> -->
          <button class="btn btn-secondary" onclick="abrir_modal('{% url 'libro:actualizar_autor' autor.id %}')">Editar</button>
        </td>
        <td>
          <!-- <a class="btn btn-secondary" href="" data-toggle="modal" data-target="#elimLogModal">Eliminacion logica</a> -->
          <button class="btn btn-secondary" onclick="abrir_modal('{% url 'libro:eliminar_autor' autor.id %}')">Eliminacion logica</button>
        </td>
        <td>
          <!-- <a class="btn btn-secondary" href="" data-toggle="modal" data-target="#elimModal">Eliminacion total</a> -->
          <button class="btn btn-secondary" onclick="abrir_modal('{% url 'libro:delete_autor' autor.id %}')">Eliminacion total</button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}

<h1 class="text-center">No existen autores registrados</h1>

{% endif %}
<!-- Modales-->
<div class="modal fade" id="abrirmodal" role="dialog"></div>
{% endblock content %}

{% block js_scripts %}
<script type="text/javascript">
  var $ = jQuery.noConflict();
  function abrir_modal(url){
    $('#abrirmodal').load(url, function(){
      $(this).modal('show');
    });
  }
</script>
{% endblock js_scripts %}
